<div class="container">
    <div class="loginPage">
        <span id="error_message">{{ loginErrorMessage }}</span>
        <div class="loginBox">
            <h1><img src="../../assets/images/evolucare_logo.png" alt="logo evolucare" />WebConsult
                <!-- <img src="../../assets/logo_hw.png" alt="logo hopital web" /> --></h1>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
                <div class="form-group">
                    <label for="identifiant">Identifiant</label>
                    <input type="text" [ngClass]="{ 'inputInvalid': emailControl.invalid && emailControl.touched, 'inputValid': emailControl.valid && emailControl.touched}" required minlength="5" class="form-control" id="identifiant" name="identifiant" [(ngModel)]="loginModel.identifiant"
                        #emailControl="ngModel" />
                    <span class="input_error_message" *ngIf="emailControl.invalid && emailControl.touched">Identifiant invalide</span>
                </div>
                <div class="form-group">
                    <label for="motdepasse">Mot de passe</label>
                    <input type="password" [ngClass]="{ 'inputInvalid': passwordControl.invalid && passwordControl.touched, 'inputValid': passwordControl.valid && passwordControl.touched}" required class="form-control" id="motdepasse" name="motdepasse" [(ngModel)]="loginModel.password"
                        #passwordControl="ngModel" [pattern]='passwordFormat' />
                    <span class="input_error_message" *ngIf="passwordControl.invalid && passwordControl.touched">{{ passwordFormatErrorMessage }}</span>
                </div>
                <div class="form-group button_div">
                    <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Entrer</button>
                    <button class="btn btn-danger" (click)="exit($event)">Sortir</button>
                </div>
            </form>
            <span><a href="#" style="color:#96bef2">Qui sommes-nous ?</a></span>
        </div>
    </div>
</div>