.prochain_rdv_disponible {
    border: 1px solid rgb(112, 112, 112);
    padding: 1.5px;
    padding-right: 4px;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 7px;
    border-radius: 5px;
    font-size: 13px;
    font-family: Verdana, Arial !important;
    display: inline-block;
    color: rgba(102, 102, 102, 1);
    cursor: pointer;
}

.prochain_rdv_disponible:hover {
    color: red;
    border: 1px solid red;
}