<div class='agenda_body'>
  <app-agenda-heure-row-wrapper>
    <div class='first'>8:00</div>
    <div class="rows_div">
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
    </div>
  </app-agenda-heure-row-wrapper>

  <app-agenda-heure-row-wrapper>
    <div class='first'>9:00</div>
    <div class="rows_div">
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
    </div>
  </app-agenda-heure-row-wrapper>

  <app-agenda-heure-row-wrapper>
    <div class='first'>10:00</div>
    <div class="rows_div">
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>

      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
    </div>
  </app-agenda-heure-row-wrapper>

  <app-agenda-heure-row-wrapper>
    <div class='first'>11:00</div>
    <div class="rows_div">
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
    </div>
  </app-agenda-heure-row-wrapper>

  <app-agenda-heure-row-wrapper>
    <div class='first'>10:00</div>
    <div class="rows_div">
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
    </div>
  </app-agenda-heure-row-wrapper>

  <app-agenda-heure-row-wrapper>
    <div class='first'>10:00</div>
    <div class="rows_div">
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
    </div>
  </app-agenda-heure-row-wrapper>

  <app-agenda-heure-row-wrapper>
    <div class='first'>10:00</div>
    <div class="rows_div">
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
      <app-agenda-heure-row></app-agenda-heure-row>
    </div>
  </app-agenda-heure-row-wrapper>
</div>
