.agenda_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.agenda_body .first {
  width: 100px;
  opacity: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px rgba(174, 174, 174, 1);
  border-bottom: none;
  border-right: none;
  color: rgba(112, 112, 112, 1);
}

.agenda_body .first+div {
  flex: 1;
  border-bottom: 1px solid rgba(174, 174, 174, 1);
}

.agenda_body .rows_div {
  position: relative;
  top: 1px;
}
